.about {

	img {
		display: block;
		max-width: 80%;
		margin: 0 auto;
	}
	p {
		text-align: center;
	}
	li {
		vertical-align: middle;
		max-width: $sm-width;
		margin: 0 auto;
		float: none;
		display: block;
	}
	
}

.images-section {
	height: 18rem;

	@media (min-width: $xs-width) {
		height: 25rem;
	}

	@media (min-width: $sm-width) {
		height: 35rem;
	}
	.section {
		padding: 0;
		min-height: 0;
	}

	ul {
		width: 52%;
	    margin-left: 24%;
	    height: 140%;
	    position: absolute;
	    top: -18%;
	}
	
	li {
		float: left;
		position: relative;
		overflow: hidden;
		width: 25%;
		height: 100%;

		img {
			position: absolute;
		    left: -130%;
		    height: 73%;
		    top: 8%;
		    width: initial;

			
			@media (min-width: $xs-width) {
				left: -90%;
			}

			@media (min-width: $sm-width) {
				left: -70%;
			}

			@media (min-width: $md-width) {
				left: -50%;
			}

			@media (min-width: $lg-width) {
			    left: -50%;
			    height: 92%;
			    top: 4%;
			}
		}
	}

	.rotate-bacground-right li {
		transform: rotate(-10deg);
		-ms-transform: rotate(-10deg); /* IE 9 */
		-webkit-transform: rotate(-10deg);
	}

	.rotate-bacground-left li {
		transform: rotate(10deg);
		-ms-transform: rotate(10deg); /* IE 9 */
		-webkit-transform: rotate(10deg);
	}
}