.contact {
	background-image: url(./media/contact-img.jpg);
	background-size: cover;
	background-position: bottom center;
	.row {
		>div {
			margin-bottom: 5rem;

			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}

			@media (min-width: $sm-width) {
				margin-bottom: 0;
			}
		}
		li {
			text-align: center;
		}

		i {
			display: block;
		}
	}
	
	p{
		margin-top: 3rem;
	    margin-bottom: 3rem;
	    text-align: center;
	}
	h4.title {
		margin-bottom: 3rem;
	}
}
.client-name {
	text-transform: capitalize;
}