.footer {
	padding-bottom:1rem;
	padding-top: 3rem;

	.navbar-brand {
		
		padding:0;
		height: auto;
		float: none;

		img {
			width: 2.4rem;
			display: inline-block;
			vertical-align: top;
		}

		h2 {
			font-size: 2.3rem;
			display: inline-block;
			font-family: $title_font_secondary;
			margin: 0.25rem 0 0 0;
			font-weight: bold;
			vertical-align: top;
		}
	}

	.nav-footer {
		text-align: center;
		margin:0;
		li {
			margin-bottom: 1rem;

			@media (min-width: $sm-width) {
				margin-bottom: 0;
				display: inline-block;
				margin-right: 4rem;
				&:last-child {
					margin-right: 0;
				}
			}
		}

		a:hover {
			color: $main_yellow;
			font-weight: bold;
		}
	}
}