.container-fluid {
		&.background-img {
			background-image: url(./media/WildLemons-header.jpg);
			height: 100vh;
		}

		&.header-fixed  {
			background-attachment: fixed;
			position: absolute;
			width: 100%;
			height: 100%;
		}

	&.header {

		.nav-wrapper {
			background-color: $dark_gray;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 20;
		}

		.transparent {
			background-color: $transparent;
			-webkit-transition: 2s; /* Safari */
    		transition: 2s;
		}
		
		.navbar,
		.navbar-header {
			margin: 0 auto;
			min-height: 7rem;
		}
		
		.navbar-default {
			border: none;
			background-color: transparent;
		}
		
		.navbar-brand {
			float: left;
			height: 2.5rem;
			margin: 2.25rem 0;
			padding: 0 2px;
			color: $main_gray;
			font-family: $title_font_secondary;
			font-weight: 700;
			text-transform: uppercase;
			

			h1 {
				font-weight: 700;
			}
			.nav-logo-name {
				display: inline-block;
				font-size: 1.4rem;
				line-height: 2.5rem;
				margin: 0;
			}

		}

		.navbar-nav {
		    margin: 0;
		    background-color: $dark_gray;

		    @media (min-width: $sm-width) {
			    background-color: $transparent;
		  	}
		}

		.navbar-toggle {
			position: relative;
			height: 3rem;
			float: right;
			padding: 9px 10px;
			padding-right: 0;
			margin-right: 0px;
			margin-bottom: 8px;
			margin-top: 2rem;
			background-color: transparent;
			background-image: none;
			border: none;
			border-radius: 0;
		}

		.navbar-collapse {
			padding: 0;
		}

		.nav-logo-img {
			float: left;
			margin-right: 0.6rem;
			max-height: 100%;
			width: inherit;
		}
		
		
		.nav {
			@media (min-width: $sm-width) {
				float: right;
		    }		
		}

		.navbar-nav>li>a {
			border-radius: 0;
			color: $main_gray;
			font-size: 1.3rem;
			margin:0;
			padding: 15px 10px;
			font-size: 1.2rem;

			@media (min-width: $sm-width) {
				margin: 20px 10px;
				height: 3rem;
				padding: 5px 10px;
			}
			&:hover {
				background-color: transparent;
				color: $main_yellow;
			}
		}

		.navbar-nav>li.active>a,
		.navbar-nav>li.active>a:focus,
		.navbar-nav>li.active>a:hover {
		    background-color: $main_yellow;
		    color: $dark_gray;

		    @media (min-width: $sm-width) {
				background-color: transparent;
			    border-bottom: 2px solid $main_yellow;
			    color: $main_yellow;
		    }		
		}
	}
	
}

.header-text {
	position: absolute;
	color: $main_gray;
	text-align: center;
	top: 50%;
	width: 100%;
	margin-top: -100px;

	h2 {
		color: inherit;
		font-family: $title_font_thin;
		font-weight: 300;
		font-size: 1.4rem;

		@media (min-width: $sm-width) {
			font-size: 1.8rem;
		}
		
		@media (min-width: $lg-width) {
			font-size: 2rem;
		}
	}
}

.btn {
	&.lenguage-btn {
		background-color: $transparent;
		&:hover {
			color: $main_yellow;
		}
	}
}