.services {
	max-width: 75rem;
	margin: 0 auto;
	li {
		margin-bottom: 4rem;
		
		&:last-child {
			margin-bottom: 0;
		}

		.position {
			display: block;
			max-width: 40rem;
			margin: 0 auto;
		}
		
		.info-wrapper {
			width: 55%;
			text-align:right;
			padding: 1rem;
			color: $white;
			padding-top: 10%;
		}

		img {
    		width: 45%;
			margin: 0 auto;
			padding: 1rem;
			border-radius: 50%;
		}

		.title {
			margin-bottom: 1rem;
			font-weight: bold;
			font-size: 1.4rem;
			text-align: left;
			color: $main_yellow;
			text-transform: uppercase;
		}

		&:nth-child(odd) {
			.position {
				@media (min-width: $services-xs-width) {
					float: right;
				}
			}
			.info-wrapper {
				float: left;
				text-align: left;
			}
			img {
				float: left;
			}
			.title {
				text-align: left;
			}
		}

		&:nth-child(even) {
			.position {
				@media (min-width: $services-xs-width) {
					float: left;
				}
			}
			.info-wrapper {
				float: right;
			}
			img {
				float: right;
			}
			.title {
				text-align: right;
			}
		}

		@media (min-width: $services-xs-width) {
			margin-bottom: 0;
			.position {
				width: 50%;
				max-width: 50%;
			}
		}
	}
}
