.services {
	li {
		margin-bottom: 4rem;
		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: $lg-width) {
			margin-bottom: 0;
		}

		
		img {
			display: block;
			height: 4rem;
    		width: auto;
			margin: 0 auto 2rem auto;
		}

		.title {
			margin-bottom: 2rem;
			font-weight: bold;
			font-size: 1.4rem;
			@media (min-width: $lg-width) {
				margin-bottom: 0;
			}			
		  
		}

		p {
			text-align: center;
		}
	}
}