.container-fluid {
position: relative;
}

.container-fluid ,
.rotate-bacground-right,
.rotate-bacground-left {
	padding: 0;

	&.light {
		background-color: $main_gray;
		color: $dark_gray;
	}

	&.yellow {
		background-color: $main_yellow;
	}

	&.dark {
		background-color: $dark_gray;
		color: $main_gray;
	}
}

.rotate-bacground-right,
.rotate-bacground-left {
	overflow: hidden;
}


.container {
	&.section {
		@media (min-width: $lg-width) {
		    width: $md-width;
		  }
	}	
}

.section {
	min-height: 30rem;
	padding-top:8rem;
	padding-bottom:8rem;
	position: relative;

	&.footer {
		min-height: 20rem;
	}

	h2.title {
		font-family: $title_font;
		font-weight: bold;
		text-align: center;
		margin-bottom: 6rem;
	}

	h4.title {
		letter-spacing: -1px;
		word-spacing: -2px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 6rem;
	}

  	.text-yellow {
  		color: $main_yellow;
  	}
}

.title-font {
	font-family: $title_font;
}

.section-rotate {
	position: relative;
	
	.section {
		min-height: 30rem;
		z-index: 10;
	}
}

.section-before-rotate {
	position: relative;

	.fixed-background {
    background-color: inherit;
    height: 15rem;
    position: absolute;
    top: 100%;
    width: 100%;
	}
	.section {

		margin-bottom: 8rem;
		
	}
}

.section-after-rotate {
	.fixed-background {
    background-color: inherit;
    height: 15rem;
    position: absolute;
    bottom: 100%;
    width: 100%;
	}
	.section {

		margin-top: 3rem;
	}
}

.rotate-bacground-right,
.rotate-bacground-left {
	height: 110%;
	position: absolute;
	top: -5%;
	width: 200%;
	z-index: 2;
}

.rotate-bacground-right {
	left: -50%;
	transform: rotate(10deg);
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg);
}

.rotate-bacground-left {
	right: -50%;
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg);
}


// commmon
.opacity-low {
	opacity: $opacity_low;
}

.opacity-medium {
	opacity: $opacity_medium;
}


.opacity-yellow {
	@extend %opacity-color;
	background-color: $main_yellow;
}

.opacity-dark {
	@extend %opacity-color;
	background-color: $dark_gray;
}

.header-text {
	position: absolute;
	color: $main_gray;
	text-align: center;
	top: 50%;
	width: 100%;
	margin-top: -100px;

	h2 {
		color: inherit;
		font-family: $title_font;
	}
}

.background-img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.uppercase {
	text-transform: uppercase;
}

.header-space {
	height: 100vh;
	position: relative;
}

.inline-list {
	padding: 0;

	li {
		display: inline-block;

		.title {
			text-align: center;
			font-size: 1.6rem;
			font-weight: 100;
		}
	}
}

.footer {
	padding-bottom:1rem;
	padding-top: 3rem;
	.navbar-brand {
		
		width: 100%;
		padding:0;
		position: relative;
		overflow: hidden;
		height: auto;

		img {
			width: 3rem;
			display: inline-block;
			vertical-align: top;
		}

		h2 {
			font-size: 2.3rem;
			display: inline-block;
			font-family: $title_font;
			margin: 0.25rem 0 0 0;
			font-weight: bold;
			vertical-align: top;
		}
	}

	.nav-footer {
		text-align: right;
		li {
			margin-bottom: 1rem;
		}

		a:hover {
			color: $main_yellow;
			font-weight: bold;
		}
	}
}

.copyright {
	margin-top: 3rem;
	text-align:center;
	font-size: 1rem;
	color:$main_yellow;
	opacity: 0.6;
}