.container-fluid {
	position: relative;
}

.container-fluid ,
.rotate-bacground-right,
.rotate-bacground-left {
	padding: 0;

	&.light {
		background-color: $main_gray;
		color: $dark_gray;
	}

	&.yellow {
		background-color: $main_yellow;
	}

	&.dark {
		background-color: $dark_gray;
		color: $main_gray;
	}
}

.rotate-bacground-right,
.rotate-bacground-left {
	overflow: hidden;
}


.container {
	&.section {
		@media (min-width: $lg-width) {
		    width: $md-width;
		  }
	}	
}

.section {
	min-height: 30rem;
	padding-top:8rem;
	padding-bottom:8rem;
	position: relative;
	z-index:3;

	&.footer {
		min-height: 20rem;
	}

	h2.title {
		font-family: $title_font;
		text-transform: uppercase;
		text-align: center;
		font-size: 2rem;
		margin-bottom: 6rem;
	}

	h4.title {
		font-weight: bold;
		text-align: center;
		margin-bottom: 2rem;
	}

  	.text-yellow {
  		color: $main_yellow;
  	}
}

.title-font {
	font-family: $title_font;
}

.section-rotate {
	position: relative;
	
	.section {
		min-height: 30rem;
		z-index: 10;
	}
}

.section-before-rotate {
	position: relative;

	.fixed-background {
    background-color: inherit;
    left: -50%;
    height: 22rem;
    position: absolute;
    top: 100%;
	width: 200%;
	margin-top: -230px;

	}
	.section {

		margin-bottom: 8rem;
		
	}
}

.section-after-rotate {
	.fixed-background {
    background-color: inherit;
    left: -50%;
    height: 20rem;
    position: absolute;
    top: 30px;
    width: 200%;
	}
	.section {

		margin-top: 3rem;
	}
}

.rotate-bacground-right,
.rotate-bacground-left {
	height: 110%;
	position: absolute;
	top: -5%;
	width: 200%;
	z-index: 2;
}

.rotate-bacground-right {
	left: -50%;
	transform: rotate(10deg);
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg);
}

.rotate-bacground-left {
	right: -50%;
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg);
}


// commmon
.opacity-low {
	opacity: $opacity_low;
}

.opacity-medium {
	opacity: $opacity_medium;
}


.opacity-yellow {
	@extend %opacity-color;
	background-color: $main_yellow;
}

.opacity-dark {
	@extend %opacity-color;
	background-color: $dark_gray;
}

.background-img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.uppercase {
	text-transform: uppercase;
}

.header-space {
	height: 100vh;
	position: relative;
}

.inline-list {
	padding: 0;

	li {
		display: inline-block;

		.title {
			text-align: center;
			font-size: 1.6rem;
			font-weight: 300;
		}
	}
}

.centered {
	text-align: center;
}
.division {
	margin-bottom: 2.4rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.copyright {
	margin-top: 3rem;
	text-align:center;
	font-size: 1rem;
	color:$main_yellow;
	opacity: 0.6;
}