html {
	height: 100%;
	width: 100%;
}

body {
  //height: 100%;
}

#body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

*, *:after, *:before {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4, h5 {
margin-top: 0;
}

p {
  font-size: 1.2rem;
}

section, div {
	font-size: 1.2rem;
}

img {
  width: inherit;
  width: 100%;
  height: auto;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

ul,li {
  padding:0;
  text-decoration: none;
  list-style: none;
}

.form-control {
  background-color: $white;
  border: none;
  border-radius: 0.5rem;
  height: 28px;
  box-shadow: none;
}

.hidden, .lenguage-hidden {
  display: none;
}

.arrows {
  position: absolute;
  top:90%;
  left:50%;
  width:$arrow_size;
  height:$arrow_size;
  transform:translate(-50%,-50%);

  &:before {
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-left:$arrow_size/10 solid $main_gray;
    opacity: $arrow_peakopacity;
    border-bottom:$arrow_size/10 solid $main_gray;
    transform:translate($arrow_size/10,$arrow_size*4/3)rotate(-45deg);
    animation: arrows $arrow_speed linear infinite;
  }
  &:after {
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-left:$arrow_size/10 solid $main_gray;
    border-bottom:$arrow_size/10 solid $main_gray;
    opacity: $arrow_peakopacity;
    transform:translate($arrow_size*2/3,0px)rotate(-45deg) ;
    animation: arrows $arrow_speed linear infinite $arrow_speed/-2;
  }
}

@keyframes arrows {
  0% {
      border-left:$arrow_size/10 solid $main_gray;
      opacity: 0;
      border-bottom:$arrow_size/10 solid $main_gray;
      transform:translate($arrow_size/-6,$arrow_size*4/-6)rotate(-45deg) ;
  }
  10%, 90% {
      border-left:$arrow_size/10 solid $main_gray;
      opacity: 0;
      border-bottom:$arrow_size/10 solid $main_gray;
  }
  50% {
      border-left:$arrow_size/10 solid $main_gray;
      border-bottom:$arrow_size/10 solid $main_gray;
      opacity: $arrow_peakopacity;
      transform:translate($arrow_size/-6,0px)rotate(-45deg) ;
  }
  100% {
      border-left:$arrow_size/10 solid $main_gray;
      border-bottom:$arrow_size/10 solid $main_gray;
      opacity: 0;
      transform:translate($arrow_size/-6,$arrow_size*4/6)rotate(-45deg) ;
  }
}

.btn {
  padding: 0.5rem 2rem;
}

.btn-yellow,  .btn-yellow:focus {
  background-color: $main_yellow;
  border: 1px solid $main_yellow;
  color: $dark_gray;
  &:hover {
    background-color: $dark_gray;
    color: $main_yellow;
  }
}

.btn-gray, .btn-gray:focus {
  background-color: $dark_gray;
  border: 1px solid $dark_gray;
  color: $main_yellow;
  &:hover {
    background-color: $main_yellow;
    color: $dark_gray;
  }
}

.icon {
  i {
    font-size: 3rem;
    vertical-align: middle;
  }
  span {
    font-size: 1.2rem;
    font-weight: bold;
    vertical-align: middle;
  }
}

.error-message-field {
  color: red;
  font-size: 1rem;
}

.field-error {
 border: 1px solid red;
}
