html {
	height: 100%;
	width: 100%;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

*, *:after, *:before {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4, h5 {
margin-top: 0;
}

section, div {
	font-size: 1.3rem;
}

img {
  width: inherit;
  width: 100%;
  height: auto;
}

