//colores de fondo

$main_yellow:#ffdb01;
$main_gray: #ebebeb;
$dark_gray: #1e1e1e;
$transparent: transparent;
$white: #fff;


//opacites
$opacity_low:0.3;
$opacity_medium:0.66;
$opacity_high:0.8;

//layout 
$xs-width:480px;
$sm-width:768px;
$md-width:992px;
$lg-width:1200px;

$arrow_size: 2rem;
$arrow_speed: 3s;
$arrow_peakopacity:0.7;

$title_font : 'Amatica SC', cursive;