//colores de fondo

$main_yellow:#F4D03F;
$main_gray: #ECF0F1;
$dark_gray: #273746;
$transparent: transparent;


//opacites
$opacity_low:0.3;
$opacity_medium:0.66;
$opacity_high:0.8;

//layout 
$xs-width:480px;
$sm-width:768px;
$md-width:992px;
$lg-width:1200px;